@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="d-flex justify-content-center mb-3">
        <h1 class="display-4">Welcome to Albums Management</h1>
    </div>
    


    
</div>
